@use '/src/assets/common/styles/templates' as *;

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    height: 36px;
    padding-left: 10px;
  }
}

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}

.open {
  margin-right: auto;
}
